---
title: Unifying Multichannel Data with Webhooks
---

Webhooks are used to collects data for your application from multiple channels automatically.

PredictionIO offers webhooks for a number of services such as MailChimp, Magento, Shopify and KeenIO.

Please contact us at <a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#112;&#114;&#101;&#100;&#105;&#099;&#116;&#105;&#111;&#110;&#046;&#105;&#111;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#112;&#114;&#101;&#100;&#105;&#099;&#116;&#105;&#111;&#110;&#046;&#105;&#111;</a> if you are interested in trying out one of them.