.button {
  border-radius: 5px;
}

.button-download {
  box-sizing: border-box;
  @extend .button;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 7px 25px 0 25px;
  background-color: $button-download-background-color;
  color: $button-download-font-color;

  &:hover {
    text-decoration: none;
  }
  i {
    font-size: 24px;
    line-height: 24px;
    vertical-align: bottom;
    margin-right: 8px;
  }
}