.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.container {
  float: left;
  width: 100%;
  background-color: $off-canvas-background-color;
}


.group {
  display: inline-block;
}

.new {
  color: $danger-color;
}
