.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.group {
  display: inline-block;
}

.new {
  color: $danger-color;
}

.logo-dark {
  background-color: $logo-dark-color;
  display: inline-block;
  font-size: 0;
}
