.content {
  pre {
  background-color: $white;
  padding: 0;
  margin: 0;
  border-radius: 6px;
  border: none;
  line-height: 0; // prevent code block overflow
  overflow-y: scroll;

    code {
      // fenced code blocks
      &.hljs-line-numbers {
        background-color: $code-line-numbers-background-color;
        color: $black;
        padding: 16px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      border: none;
      background-color: $code-block-background-color;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      white-space: pre;
      width: auto;
      display: inline-block;
      padding: 16px;
      margin: 0;
      line-height: 20px;
    }
  }
}

code {
  // inline code elements 
  background-color: $code-inline-background-color;
  border: 1px solid $code-inline-border-color;
  border-radius: 6px;
  padding: 0 5px 0 5px;
  line-height: 22px;
  color: $code-inline-color;
  display: inline-block;
}
