#copyright {
  display: inline-block;
  width: 800px;
  margin-left: 0;
  background-color: $footer-background-color;
  text-align: center;
  color: $copyright-font-color;
  padding: 25px 0 25px 0;
  font-size: 14px;
  a {
    color: $copyright-link-color;
  }

  .logo {
    margin-top: 10px;
    display: inline-block;
  }
}


@include medium {
  #copyright {
    margin-left: 300px;
  }
}
