footer {
  font-family: $standard-font-family;
  padding:0;
  background-color: $footer-background-color;
  @include anchor-no-underline;

  .seperator {
    border-top: 1px solid $footer-seperator-color;
    margin: 50px 0;
  }

  .footer-link-column {
    a {
      color: $footer-link-color;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
      font-size: 12px;
      line-height: 24px;
    }
    .footer-link-column-row {
      margin-bottom: 20px;

      h4 {
        color: $footer-heading-4-color;
        font-size: 18px;
        font-weight: normal;
      }
    }
  }

  #footer-bottom {
    background: $footer-bottom-background-color;
    padding: 15px 0;
    margin-top: 50px;

    span {
      color: $footer-bottom-span-color;
    }

    #footer-logo-wrapper {
      float:left;
    }

    #social-icons-wrapper {
      zoom:1;
      float: right;

      iframe {
        vertical-align: middle;
        margin: 0 5px;
      }

      img{
        padding:0 5px;
      }

      &:after {
        clear:both;
      }
    }
  }
}
