#header {
  height: 90px;
  text-align: right;
  background-color: $header-background-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .logo {
    width: 200px;
    display: block;
    margin: 8px 0 0 25px;
    float: left;
  }

  .button-download {
    text-align: center;
    float: right;
    display: none;
    margin: 0 25px 0 0;
    @include x-large {
      display: block;
    }
  }

  .github {
    padding: 2px 17px 0 0;
  }

  .group {
    margin-top: 5px;
  }
}
