#header {
  height: 90px;
  text-align: right;
  background-color: $header-background-color;
  border-bottom: 1px solid $border-color;

  .logo {
    width: 200px;
    height: 22px;
    display: block;
    background-image: url(/images/logos/header.png);
    margin: 34px 0 34px 25px;
    float: left;
  }

  .button-download {
    text-align: center;
    float: right;
    display: block;
    margin: 25px 25px 25px 0;
    @include large {
      display: none;
    }
  }
}


