#active-navigation {
  float: left;
  font-size: 40px;
  height: 40px;
  margin: 0 0 0 20px;
  color: $header-icon-color;
  display: block;
  i {
    vertical-align: top;
  }
}

#nav-main {

  display: none;
}



#table-of-contents {

  display: none;
}

.active-navigation {
  #nav-main {
    display: block;
  }

  #main {

  }
}

.active-complementary {
  #main {

  }

  #table-of-contents {
    display: block;
  }
}


@include medium {
  #active-navigation {
    display: none;
  }

  #nav-main {
    display: block;
  }

  .active-navigation {
    #main {
      margin-right: 0;
    }
  }

  .active-complementary {
    #main {
      margin-left: 0;
    }

    #nav-main {

    }
  }
}

// Large
@include x-large {
  #active-complementary {
    display: none;
  }

  #table-of-contents {
    display: block;
    &.empty {
      display: none;
    }
  }

  .active-complementary {
    #nav-main {
      margin-left: 0;
    }
  }
}
