#page-title {
  h1 {
    margin: 0;
    display: inline-block;
    font-size: 25px;
    padding: 15px 15px 0 25px;
    color: $page-title-font-color;
    margin-right: 100px;
    &.missing {
      color: $danger-color;
    }
  }


}