#table-of-contents {
  border-left: 1px solid $border-color;
  box-sizing: border-box;
  & > ul {
    margin: 20px 20px 20px 20px;
  }
  ul {
    list-style-type: disc;
    padding: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 26px;
    color: $table-of-contents-font-color;
    ul {
      list-style-type: disc;
      font-size: 14px;
      line-height: 24px;
    }
  }
  a {
    color: $table-of-contents-font-color;
  }
}
