#table-of-contents {
  box-sizing: border-box;
  width: 280px;
  position: fixed;
  top: 90px;
  left: 1100px;
  & > ul {
    padding: 20px 40px 30px 40px;
    margin: 25px;
    background-color: $table-of-contents-background-color;

  }
  ul {
    list-style-type: disc;
    font-size: 14px;
    line-height: 26px;
    color: $table-of-contents-font-color;

    ul {
      list-style-type: disc;
      font-size: 14px;
      line-height: 24px;
    }
  }


  a {
    color: $table-of-contents-link-color;
  }
}
