body {
  font-family: $body-font-family;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  margin: 0;
  p {
    padding: 20px 20px 20px 20px;
  }

  background-color: $blockquote-background-color;
}