.codepicnic {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;

  i {
    font-weight: 600;
    color: $tryit-i-color;
  }
}

.tutorial {
  margin: 0 25px 0 0;
  min-width: 400px;
}

@include large {
  .codepicnic {
    flex-wrap: nowrap;
  }

}




.iframe {
  width: 100%;
  margin-bottom: 70px;

  iframe {
    border: 1px solid $border-color;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
}

.tryit {

  #main {
    width: 100%;
  }

  #footer {
    width: 100%;
    margin-left: 0;
  }

  #copyright {
    width: 100%;
    margin-left: 0;
  }
}
