.DS_Store
.pio_store
*.swp
*.swo
conf/pio-env.sh
target/
sbt/sbt-launch-*.jar
..sxr/
*.class
core/data
*.orig
examples/data/ml-*
fs/
supervisord.conf
/dist
pio.log
*.tar.gz
*.pyc
# Ignore source files whose name prefixed with "Private"
Private*.scala
quickstartapp/
# Eclipse
.project
.classpath
.settings/
# IntelliJ
*.iml
.idea/
.templates-cache
/vendors
/docs/manual/source/gallery/template-gallery.html.md
test-reports/
apache-rat-0.11.jar
tests/dist
tests/docker-files/*.jar
tests/docker-files/*.tgz
assembly/*.jar
assembly/src/universal/
