.DS_Store
.pio_store
*.swp
conf/pio-env.sh
target/
sbt/sbt-launch-*.jar
..sxr/
*.class
core/data
*.orig
examples/data/ml-*
fs/
supervisord.conf
assembly/
dist/
imagine.tar.gz

# Ignore source files whose name prefixed with "Private"
Private*.scala
