# Bundler
/.bundle

# Build Directory
/build

# Cache
/.sass-cache
/.cache

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon
Desktop.ini
Icon?
ehthumbs.db
Thumbs.db
*~