// Named colors;
$white: #ffffff;
$black: #000000;

// General

$body-font-color: #373535;
$link-color: #1ba4d8;
$search-box-wrapper-border-color: #e5e5e5;
$search-box-border-color: #cccccc;
$border-color: #e3e3e3;
$header-icon-color: #373535;
$off-canvas-background-color: #ffffff;
$main-background-color: #ffffff;

// Header
$header-border-bottom-color: #249DEC;
$header-left-pill-background-color: #249DEC;
$header-right-pill-background-color: #72D6FF;
$header-left-pill-hover-backgounr-color: #0087DF;
$header-right-pill-hover-backgounr-color: #57CBFA;
$header-logo-wrapper-border-bottom-color: #BDC6D3;
$header-nav-menu-option-border-bottom-color: #ccc;

// Alerts
$info-color: #0f99dd;
$info-background-color: #c5eafc;

$success-color: #2dd62d;
$success-background-color: #d1f9d1;

$warning-color: #f3d22d;
$warning-background-color: #faf1c5;

$danger-color: #bf3124;
$danger-background-color: #ffe5e3;

$note-color: #828385;
$note-background-color: #e4e6eb;

$todo-color: #c622c6;
$todo-background-color: #fbc2fb;

// Nav
$nav-header-link-color: #373535;
$nav-page-icon-color: #828385;

// Main navigation menu
$nav-main-border-color: #e5e5e5;
$nav-main-mobile-active-item-border-color: #e5e5e5;
$nav-main-collapsible-anchor-color: #333333;
$nav-main-active-menu-background-color: #f0f0f0;
$nav-main-active-menu-bottom-border-color: #E5E5E5;
$nav-main-active-menu-link-color: #5f5f5f;
$nav-main-level-2-link-color: #3482ab;
$nav-main-level-2-active-link-color: #5f5f5f;
$nav-main-level-2-active-link-left-border-color: #da1111;

// Tabs
$tab-background-color: #e9e9e9;
$tab-link-color: #3482ab;
$tab-hover-background-color: #7f93a8;
$tab-active-border-color: #da1111;
$tab-active-background-color: #f7f7f7;

$tab-active-link-color: #5f5f5f;
$tab-hover-link-color: #ffffff;

// Buttons
$button-download-font-color: #ffffff;
$button-download-background-color: #0f99dd;

$button-primary-background-color: #0f99dd;
$button-primary-hover-background-color: #373535;
$button-primary-font-color: #ffffff;
$button-primary-hover-font-color: #ffffff;
// Code Blocks
$code-block-background-color: #091F38;
$code-block-border-color: #e5e5e5;
$code-line-numbers-background-color: #E1E7ED;
$code-line-numbers-border-color: #2dd62d;
$code-line-numbers-font-color: #373535;
$code-inline-background-color: #edf1f6;
$code-inline-border-color: $border-color;
$code-inline-color: #222;

// Table of Contents
$table-of-contents-link-color: #27ABEB;
$table-of-contents-font-color: #828385;
$table-of-contents-background-color: #f0f0f0;
$table-of-contents-edit-page-link-color: #AAAAAA;

// Footer
$footer-seperator-color: #eeeeee;
$footer-background-color: #ffffff;
$footer-link-color: #888888;
$footer-heading-4-color: #262626;
$footer-bottom-background-color: #262626;
$footer-bottom-span-color: #ffffff;

// Subscribe Form
$form-wrapper-color: #091F38;
$form-wrapper-border-color: #ccc;
$form-wrapper-heading-4-color: #E5E5E5;
$subscribe-form-pill-button-background-color: #2499E6;
$disabled-pill-button-background-color: #ccc;
$invalid-input-border-color: #ffd654;
$valid-input-border-color: #EBF1F9;
$errored-input-border-color: #a94442;
$subscribe-form-placeholder-color: #BCBCBC;

// Copyright
$copyright-font-color: #828385;
$copyright-link-color: #828385;

// Page Title
$page-title-font-color: #000000;

// Headings
$heading-1-font-color: #000000;
$heading-2-font-color: #000000;
$heading-3-font-color: #373535;
$heading-4-font-color: #373535;
$heading-5-font-color: #373535;
$heading-6-font-color: #373535;

$content-paragraph-font-color: #666666;
$content-link-color:#2499E6;

// Tags
$blockquote-background-color: #f0f0f0;

// Swiftype
$swiftype-link-color: #3482ab;
$swiftype-background-color: #fcfcfc;
$swiftype-input-background-color: #ffffff;
$swiftype-font-active-color: #ffffff;
$swiftype-autocomplete-active-color: #7f93a8;

$mobile-page-header-label-color: #BDC6D3;

// Edit Page
$edit-page-background-color: #0f99dd;
$edit-page-font-color: #ffffff;


$carousel-active-background-color: #0f99dd;
$carousel-hover-background-color: #4f626c;

$carousel-link-color: #373535;
$carousel-hover-link-color: #ffffff;
$carousel-active-link-color: #ffffff;

$carousel-control-background-color: #0f99dd;
$carousel-control-font-color: #ffffff;
$carousel-control-hover-background-color: #373535;

$tryit-i-color: #3482ab;

$global-background-color: #ffffff;

$breadcrumbs-link-color: #27ABEC;
$breadcrumbs-text-color: #6F7072;

$logo-dark-color: #000000;
