/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
	margin: 0;
}

html,body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: -1.4em auto -4em;
}

.footer,.push {
	height: 8em;
}

[class^="icon-"], [class*=" icon-"] {
    margin-top: 0;	
}
/* Darkness Fix */
.well {
	border: 1px solid rgba(0, 0, 0, 0.05) !important;
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
	text-shadow: 0 1px 1px #000000;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background: none repeat scroll 0 0 #212121 !important;
    border: 1px solid #0F0F0F;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #ffffff;
    text-shadow: 0 1px 3px #000000;

}
input::-webkit-input-placeholder {
    color:    #444444;
    font-weight: 130;
}
input:-moz-placeholder {
    color:    #444444;
    font-weight: 130;
}
input:-ms-input-placeholder {
    color:    #444444;
    font-weight: 130;
}
input:focus::-webkit-input-placeholder {
    color: #212121!important;
    text-shadow: none!important;
}
input:focus:-moz-placeholder {
    color: #212121!important;
    text-shadow: none!important;
}
input:focus:-ms-input-placeholder {
    color: #212121!important;
    text-shadow: none!important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #444444;
}

.modal.modal-visible { /* convert modal to a box container */
	width: auto;
	position:relative;
	top:auto;
	left:auto;
	margin:0 auto;
	z-index:1;
}
.modal.modal-visible .modal-body {
    max-height: none;
}

/* Silver box */
.modal.modal-inverse {
    background-color: #E7EBED;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 5px #000000;
    margin: 0 auto 60px;
}
.modal.modal-inverse a { 
    color: #51555D;
}
.modal.modal-inverse input, .modal.modal-inverse input[type="file"], .modal.modal-inverse select, textarea {
    border-color: #cccccc;
    color: #51555D;
}
.modal.modal-inverse .well, .modal.modal-inverse .breadcrumb, .modal.modal-inverse input, input[type="file"], .modal.modal-inverse select, .modal.modal-inverse textarea, .modal.modal-inverse .progress, .modal.modal-inverse code, .modal.modal-inverse pre {
    background: none repeat scroll 0 0 #E7EBED;
    box-shadow: 0 1px 0 #FCFDFD, 0 1px 3px #96ACB9 inset;
}

.modal.modal-inverse input[type="text"], .modal.modal-inverse input[type="password"], .modal.modal-inverse input[type="email"] {
    background: -moz-linear-gradient(-90deg, #D5DEE3, #E7EBED) repeat scroll 0 0 transparent !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#d5dee3), to(#e7ebed)) !important;
    border: 0 none;
    box-shadow: 0 1px 0 #FCFDFD, 0 1px 3px #96ACB9 inset;
    color: #666666 !important;
    font-size: 12px;
    outline: 0 none;
    text-shadow: 0 1px 1px #cccccc;
}
.app-info input[type="text"] {
    padding: 10px 15px;
    height: 50px!important;
}

.modal.modal-inverse .input-append input, .input-append select, .input-append .uneditable-input {
    border-radius: 4px 0 0 4px;
}

.modal.modal-inverse input[disabled] {
    color: #666666 !important;
}
.modal.modal-inverse input::-webkit-input-placeholder {
    color:    #A4B4BD!important;
    font-weight: 130;
    text-shadow: none!important;
}
.modal.modal-inverse input:-moz-placeholder {
    color:    #A4B4BD!important;
    font-weight: 130;
    text-shadow: none!important;
}
.modal.modal-inverse input:-ms-input-placeholder {
    color:    #A4B4BD!important;
    font-weight: 130;
    text-shadow: none!important;
}
.modal.modal-inverse input:focus::-webkit-input-placeholder {
  color: transparent!important;
  text-shadow: none!important;
}
.modal.modal-inverse input:focus:-moz-placeholder {
  color: transparent!important;
  text-shadow: none!important;
}
.modal.modal-inverse input:focus:-ms-input-placeholder {
  color: transparent!important;
  text-shadow: none!important;
}
.modal.modal-inverse .table thead {
    color: #86949D;
}

.modal.modal-inverse .modal-header {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#d7dbde));
    background: -moz-linear-gradient(-90deg, #FDFDFD, #D7DBDE) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 0 #E7ECEF inset, 1px 1px 3px #4A606A;
    padding: 8px 15px;
    border-bottom: none;
}
.modal.modal-inverse .modal-header h1,
.modal.modal-inverse .modal-header h2,
.modal.modal-inverse .modal-header h3,
.modal.modal-inverse .modal-header h4,
.modal.modal-inverse .modal-header h5,
.modal.modal-inverse .modal-header h6 {
    color: #575755;
    text-shadow: 0 1px 2px #FFFFFF;
}
.modal.modal-inverse .modal-container {
	-moz-box-sizing: border-box;
}
.modal.modal-inverse .modal-container h1,
.modal.modal-inverse .modal-container h2,
.modal.modal-inverse .modal-container h3,
.modal.modal-inverse .modal-container h4,
.modal.modal-inverse .modal-container h5,
.modal.modal-inverse .modal-container h6 {
    color: #51555D;
    text-shadow: 0 1px 1px #FFFFFF;
    font-weight: normal;
}
.modal.modal-inverse .modal-container .modal-content {
    -moz-box-sizing: border-box;
    overflow: hidden;
    padding: 15px;
    color: #86949D;
}
.modal.modal-inverse .modal-container .modal-item-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: -moz-linear-gradient(-90deg, #D5DEE3, #E7EBED) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#d5dee3), to(#e7ebed));
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 #FCFDFD, 1px 1px 3px #96ACB9 inset;

    margin: 0 0 15px;
    overflow: hidden;
    padding: 5px;
}
.modal.modal-inverse .modal-container .modal-item-box .modal-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: -moz-linear-gradient(-90deg, #FDFDFD, #E9EBEC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e9ebec));
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px #A1B0BB, 0 1px 0 #FFFFFF inset;
    margin: 0 0 5px;
    padding: 1px 15px;
}
.modal.modal-inverse .modal-container .modal-item-box .modal-item .modal-item-panel {
	margin-top: 10px;
}
.modal.modal-inverse .modal-container .modal-item-box a.actionbtn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 0 #FCFDFD, 0 1px 3px #96ACB9 inset;
    color: #8794A0;
    padding: 5px 8px 4px;
    text-decoration: none;
    text-shadow: 0 1px 1px white;
    transition: all 0.3s ease-in-out 0s;
    font-size: 13px;
    margin-left: 8px;
}
.modal.modal-inverse .modal-container .modal-item-box a.actionbtn:hover {
    background: none repeat scroll 0 0 transparent;
    color: #5CB7E2;
}
/* End of Darkness Fix*/

body {
	font-family: "Droid Sans",Helvetica,Arial,serif;
	font-size: 12px;
	/* for footer and top */
    padding-top: 60px; 
    padding-bottom: 40px;
}
#headbar {
	min-width: 940px;
    -moz-box-sizing: border-box!important;
    border-bottom: solid 2px #000000;
}
#mainarea {
	min-width: 1150px;
	padding-top: 20px;
}

.footer {
    background-color: #2b2b2b;
    text-align: center;
}
.footer footer {
	padding-top: 20px;
	font-size: 10px;
	color: #999999;
}
.smallContent {
	font-size: 12px;
}
.center { float: none; margin-left: auto; margin-right: auto; }
.bottomMargin-large { margin-bottom: 50px!important; }
.bottomMargin {margin-bottom: 20px!important; }
.topMargin {margin-top: 20px!important; }
.topMargin-large {margin-top: 50px!important; }
.leftMargin {margin-left: 20px!important; }
.leftMargin-small {margin-left: 8px!important; }
.displayNone {display:none;}
.textRight { text-align: right;}
/* Sign In */
#signinContainer { margin-top: 70px; width: 500px;}

/* App DashBoard */
.app-info, .install-info {
	margin: 5px 0 8px 0;
	padding: 15px;
}
.app-info p, .app-info input {
	margin-bottom: 20px;
}
#addAppInput {
	padding:5px 10px;
}
.app-info strong {
	font-size: 14px;
}

/* Create Engine */
#createEngine .row-fluid .span6 {
	width: 48.8%;
}
/*
#createEngine .row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
*/
#createEngine .row-fluid [class*="span"] {
	margin-left: 0.8%;
}
#createEngine .boxBlock .boxContent {
    height: 240px;
    overflow: hidden;
}

/* Engine Pages */
#engineTab a {
	font-weight: bold;
	font-size: 14px;
}

#engineGoal .form-horizontal .controls {
    margin-left: 227px;
}
#engineGoal .form-horizontal .control-label {
    width: 220px;
}

.boxContainer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: none repeat scroll 0 0 #272727;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 5px;
}
.boxBlock {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    margin: 0 0 5px;
}
.boxBlock:last-child {
	margin: 0;
} 
.boxBlock .boxtitle {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: -moz-linear-gradient(-90deg, #3A3A3A, #393939) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#3A3A3A), to(#393939));    
    border-bottom: 1px solid #262626;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    font-size: 16px;
    padding: 8px 10px;
    text-shadow: 0 1px 2px #000000;
    color: #5CB5E2;
}
.boxBlock .boxContent {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: -moz-linear-gradient(-90deg, #393939, #343434) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#343434));
    border-bottom: 1px solid #262626;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    padding: 15px;
    color: #8F8F8F;
}
.boxBlock .boxPanel {
	background: -moz-linear-gradient(-90deg, #393939, #343434) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#343434));
	padding: 10px 10px 5px 10px;
}
.hbar {
    background: -moz-linear-gradient(-90deg, #3B3B3B, #333333) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#3B3B3B), to(#333333));
    border-bottom: 1px solid #0F0F0F;
    border-top: 1px solid #585858;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    height: 4px;
}
.hbar.hbar-thick {
    height: 15px;
}
/*
.btn-input {
	height: 28px!important;
	line-height: 28px!important;
}
*/


/*
.box1 {
    background-color: #444444;
    border: 1px solid #222222;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}
.box1-cornertext {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 4px 0 4px 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 17px;
    position: absolute;
    top: -1px;
}
.box2 {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 55px 19px 14px;
    position: relative;
}
.box2-cornertext {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 4px 0 4px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    left: -1px;
    padding: 10px 50px;
    position: absolute;
    top: -1px;
}
*/