@(id: String, name: String, description: Option[String], selections: Seq[(String, String)])
                                <div class="control-group">
                                    <label class="control-label">@name</label>
                                    <div class="controls">
                                        <select id="@id">
                                        @for(s <- selections) {
                                            <option value="@s._2">@s._1</option>
                                        }
                                        </select>
                                        @Html(description.map("<span class=\"help-inline\">"+_+"</span>").getOrElse(""))
                                    </div>
                                </div>
