@(id: String, name: String, description: Option[String])
                                <div class="row-fluid bottomMargin">
                                    <div class="span4">
                                        <h5>
                                            @name: <span id="slider-@(id)-val"></span>
                                        </h5>
                                        <div id="slider-@(id)"></div>
                                    </div>
                                    @Html(description.map("<div class=\"span6\"><br />"+_+"</div>").getOrElse(""))
                                </div>
