#nav-header {
  display: none;
  margin: 0 25px 0 0;
  ul {
    padding: 0;
    margin: 8px 0 0 0;
  }
  li {
    display: inline-block;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    font-weight: 400;
    color: $nav-header-link-color;
    font-size: 18px;
  }


  @include medium {
    display :inline-block;
  }
}
