/[if lt IE 9]
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'
= javascript_include_tag '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'

/azo sans font
= javascript_include_tag '//use.typekit.net/pqo0itb.js'
javascript:
  try{Typekit.load({ async: true });}catch(e){}
