!vendors
logs
project/project
project/target
project/boot
project/target
project/plugins/target
target
.target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
logs
/RUNNING_PID

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin
