---
title: Getting Help
---

## Community Support

PredictionIO has a welcoming and active community.
We are here to support you and make sure that you can use PredictionIO successfully.

Here are some resources you can use:

* [User Support Forum](https://groups.google.com/forum/#!forum/predictionio-user)
* [Product Feature Request](https://predictionio.uservoice.com/forums/219398-general/filters/top)

If you are a contributor, we have a dedicated forum for you:

* [Contributor Support Forum](https://groups.google.com/forum/#!forum/predictionio-dev)

## Enterprise Support

For enterprise users who require professional support, you may contact <a href="mailto:&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x61;&#x63;&#x74;&#x69;&#x6F;&#x6E;&#x6D;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;">&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x61;&#x63;&#x74;&#x69;&#x6F;&#x6E;&#x6D;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;</a>
