---
title: Getting Help
---

## Community Support

Apahce PredictionIO (incubating) has a welcoming and active community. We are
here to support you and make sure that you can use Apahce PredictionIO
(incubating) successfully.

If you are a user, please subscribe to our user mailing list.

* [Subscribe](mailto:user-subscribe@predictionio.incubator.apache.org)
* [Unsubscribe](mailto:user-unsubscribe@predictionio.incubator.apache.org)

If you are a contributor, please subscribe to our development mailing list.

* [Subscribe](mailto:dev-subscribe@predictionio.incubator.apache.org)
* [Unsubscribe](mailto:dev-unsubscribe@predictionio.incubator.apache.org)

## Enterprise Support

For enterprise users who require professional support, you may contact <a
href="mailto:&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x61;&#x63;&#x74;&#x69;&#x6F;&#x6E;&#x6D;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;">&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x61;&#x63;&#x74;&#x69;&#x6F;&#x6E;&#x6D;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;</a>
