---
title: Getting Help
---

## Community Support

PredictionIO has a welcoming and active community.
We are here to support you and make sure that you can use PredictionIO successfully.

Here are some resources you can use:

* [User Support Forum](https://groups.google.com/forum/#!forum/predictionio-user)
* [Product Feature Request](https://predictionio.uservoice.com/forums/219398-general/filters/top)

If you are a contributor, we have a dedicated forum for you:

* [Contributor Support Forum](https://groups.google.com/forum/#!forum/predictionio-dev)

## Enterprise Support

For enterprise users who require professional support, you may contact us::

* [PredictionIO Enterprise Support and Services](http://prediction.io/enterprise)
* <a href="mailto:&#101;&#110;&#116;&#101;&#114;&#112;&#114;&#105;&#115;&#101;&#064;&#112;&#114;&#101;&#100;&#105;&#099;&#116;&#105;&#111;&#110;&#046;&#105;&#111;">&#101;&#110;&#116;&#101;&#114;&#112;&#114;&#105;&#115;&#101;&#064;&#112;&#114;&#101;&#100;&#105;&#099;&#116;&#105;&#111;&#110;&#046;&#105;&#111;</a>

