#copyright
  p &copy 2014 PredictionIO. #{link_to 'Apache License 2.0', 'https://github.com/PredictionIO/PredictionIO/blob/develop/LICENSE.txt'}.
  p = link_to 'PredictionIO', 'http://prediction.io/', class: 'logo hide-text'