- if build?
  javascript:
    (function(g,a){if(!a.snipV&&!a.libV){var b,c;window.rcx=a;a.snipV="0.1";c=function(a,b,c,d){a[b]=a[b]||function(){c.push([d].concat(Array.prototype.slice.call(arguments)))}};b=["init","page","event"];for(var f=0;f<b.length;f++){var e,d;e=b[f];d=e.split(".");2==d.length?(a[d[0]]=a[d[0]]||[],c(a[d[0]],d[1],a,e)):c(a,e,a,e)}b=g.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof RCX_CUSTOM_LIB?RCX_CUSTOM_LIB:"https://cdn.recontext.com/rcx.min.js";c=g.getElementsByTagName("script")[0];
    c.parentNode.insertBefore(b,c)}})(document,window.rcx||[]);
    rcx.init("kTxFcI3IWdXYfRsh6uuYuej4qYl8m8LVMePM2hdIkM9YjHqkAFC6mqdqO9fpp8p9");
    rcx.page();
