<script type="text/template" id="itemrecItemTypeList_template">
    <td><%= data.itemtype_id %> <input type="hidden" name="itemrecItemType[<%= data.index %>]" value="<%= data.itemtype_id %>" /></td>
    <td><a class="removeItemTypeBtn" href="#">[ x ]</a></td>
</script>
<script type="text/template" id="itemrecTemplate">
    <form>
            <div class="row-fluid">
                <div class="span9">
                    <!-- Prediction Settings -->
                    <div class="boxContainer">
                        <div class="boxBlock">
                            <div class="boxtitle">Item Types Settings</div>
                            <div class="boxContent">
                                <p>In your app, you may have more than one type of items,
                                    e.g. photos, news and jobs. For better prediction accuracy, one
                                    engine should handle only: One item type (e.g. News), or A set
                                    of related item types (e.g. World News, Sport News,
                                    Entertainment News) Please name the item type(s) to be
                                    recommended by this engine. You will use these names in
                                    API/SDKs.</p>
                                <div class="bottomMargin">
                                    <label class="checkbox"> 
                                        <input id="itemrecAllItemTypes" <% if (data.allitemtypes == true){ %> checked <%} %> name="itemrecAllItemTypes" type="checkbox" /> Include ALL item types
                                    </label>
                                </div>
                                <div class="row-fluid">
                                    <div class="span5">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Selected Item Types</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="itemrecItemTypeList_ContentHolder">
                                                <!-- itemrecItemTypeList_template here -->
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="span5 offset1">
                                        <div class="input-append">
                                            <input class="span8" id="itemrecAddItemTypeInput" type="text" placeholder="item type name"/>
                                            <a href="#" id="itemrecAddItemTypeBtn" class="btn btn-primary">Add</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="boxBlock">
                            <div class="boxtitle">Recommendation Preferences</div>
                            <div class="boxContent">
                                <div class="row-fluid bottomMargin">You could adjust the
                                    following parameters using the sliders. Higher value means more
                                    important to your App.</div>
                                <div class="row-fluid bottomMargin">
                                    <div class="span4">
                                        <h5>
                                            Freshness: <span id="slider-freshness-val"></span>
                                        </h5>
                                        <div id="slider-freshness"></div>
                                    </div>
                                    <div class="span6">
                                        <br /> preference for newer items
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4">
                                        <h5>
                                            Serendipity: <span id="slider-serendipity-val"></span>
                                        </h5>
                                        <div id="slider-serendipity"></div>
                                    </div>
                                    <div class="span6">
                                        <br /> preference for surprising discovery
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="engineGoal" class="boxBlock">
                            <div class="boxtitle">Recommendation Goal</div>
                            <div class="boxContent">
                                <p>Please define the goal to be maximized. Algorithms will
                                    be evaluated based on the goal defined here.</p>
                                <div class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label">Recommend items that
                                            users will </label>
                                        <div class="controls">
                                            <select id="itemrecGoal">
                                                <option value="rate5">rate = 5</option>
                                                <option value="rate4">rate >= 4</option>
                                                <option value="rate3">rate >= 3</option>
                                                <option value="like">like</option>
                                                <option value="buy">buy</option>
<!-- TODO
                                                <option value="viewmore">view more</option>
-->
                                                <option value="view">view</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- End of Prediction Settings -->
                </div>
            </div>
    </form>
</script>

<div id="itemrecContentHolder"></div>